<!DOCTYPE html>
<html>
  <head>
  	<title>QBCrap</title>
	<meta name="viewport" content="width=device-width, initial scale=1.0">

        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  	<link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <h1>FACULTY v STUDENT QUIZ BOWL</h1>
    <hr />
    <div id="scoreboard">
    
      <div id="team1">
        <div id="name1" class="name">
          FACULTY 
        </div>
        <br />
        <div id="score1" class="score">
          0 
        </div>
      </div>
      <div id="team2">
        <div id="name2" class="name">
          LASA B 
        </div>
        <br />
        <div id="score2" class="score">
          0 
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="js/qb.js"></script>
  </body>
</html>
