#cards {
  margin: 5px;
  padding: 5px;
}
.card {
  width: 60px;
  height: 90px;
  margin: 5px;
  border: 2px dotted gray;
}
.select {
  border: 2px solid black;
}
/*
@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}*/ 
