body {
  background-color: #44175b;
  color: white;
}

h1 {
  text-align: center;
}

#team1 {
  float: left;
  margin-left: 5%;
}

#team2 {
  float: right;
  margin-right: 5%;
}

.name {
  font-size: 40px; 
}

.score {
  font-size: 40px;
  text-align: center;
}

#text {
  clear: both;
  text-align: center;
  width: 50%;
  margin-top: 10px;
  margin-left: 25%;
}
